<main class="mainHome">

    <div class="titleHome">
        <h1>Productos del E-commers</h1>
    </div>

 <div class="productsHome">

    {{#each products}}
   
        <div class="card">
            <div class="part1">
                <h5 class="card-title">
                    {{this.title}}</h5>
                <p class="card-description">Descripcion:
                    {{this.description}}</p>
            </div>
            <div class="part2">
                <p>Precio: ${{this.price}}</p>
                <p>Code:{{this.code}}</p>
            </div>
            <div class="part3">
                <p>Stock:{{this.stock}}</p>
                <p>id:{{this.id}}</li>
                </p>
            </div>
        </div>
    
    {{/each}}
</div>


</main>